/* ============================================================ */
/* ============================================================ */
/* MAIN */
/* ============================================================ */
/* ============================================================ */
html, 
body {
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
}

/***********************************************/
/* COLORS */
/***********************************************/
:root {
	--klr_unicorn: #31E896;
	--klr_bkgrnd: white;
	--klr_shade0: rgba(40,40,40,0.9);
	--klr_shade1: rgba(40,40,40,0.8);
	--klr_shade2: rgba(40,40,40,0.7);
	--klr_shade3: rgba(40,40,40,0.5);
}

/***********************************************/
/* TYPO */
/***********************************************/
#header {
	font-family:'Futura',Arial,sans-serif;
}

#skrollr-body h1,
#skrollr-body h2,
#skrollr-body h3,
#skrollr-body h4,
#skrollr-body h5 {
	font-family:'Futura',Arial,sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#skrollr-body h1 {
	text-align: center;
}
h1,
h2,
h3, 
h4 {
  	text-align: left;
  	text-transform: uppercase;
}

body,
p,
ul li  {
	font-family: 'Poppins', sans-serif;
}

p {
	text-align: justify;
	font-weight: 300;
	line-height: 1.15em;
	font-size: 1.1em;
	margin-bottom: 1em;
}

strong {
	font-weight: 500;
}

/***********************************************/
/* A links */
/***********************************************/
a {
  color: var(--klr_shade0);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: var(--klr_unicorn);
  text-decoration: none;
  cursor: pointer;
}

/***********************************************/
/* MATERIAL ICONS */
/***********************************************/
a:hover > i.material-icons {
	color: var(--klr_unicorn);
}


/* ============================================================ */
/* ============================================================ */
/* SKROLLR BASE (core, though disabled UI)  */
/* ============================================================ */
/* ============================================================ */
.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height: 100%;
}

.gap {
	background: transparent center no-repeat;
	background-size: cover;
}

.gap-50 {
	height: 50%;
}
.gap-100 {
	height: 100%;
}
.gap-100#bio {
	height: auto;
}

.gap > .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.gap > .container > .row {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}


/* ============================================================ */
/* ============================================================ */
/* SECTIONS */
/* ============================================================ */
/* ============================================================ */

/***********************************************/
/* SECTION 1 - LANDING */
/***********************************************/
#landing .row {
	padding-top: 20%;
}

#landing h1 {
	font-weight: 600;
	color: rgba(40, 40, 40, 0.95);
	line-height: 1.5;
	letter-spacing: 0.6rem;
}

#landing a i {
	transition : all 0.4s;
    -webkit-transition :all 0.4s;
	margin-top: 3em;
	padding: 10px;
	color: var(--klr_bkgrnd);
	border-radius: 50%;
	border: solid 2px var(--klr_bkgrnd);
	font-size: 3.5em;
}
#landing a:hover i {
	transition : all 0.4s;
    -webkit-transition :all 0.4s;
	background-color: var(--klr_bkgrnd);
	color: var(--klr_unicorn);
}

/***********************************************/
/* SECTION 2 - BIO */
/***********************************************/
#bio > .container {
	padding-top: 3rem;
}

#bio #skills_col > div {
	display: inline-block;
}
#bio .row {
	height: 100%;
	padding-top: 3rem;
}

/* PITCH */
#bio .row .pitch {
	width: 100%;
	padding: 2em 20% 6em 20%;
}

#bio .row .pitch img {
	padding: 30px;
	max-width: 200px;
	border-radius: 50%;
  	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}
@media (min-width: 768px) {
	#bio .row .pitch img {
		margin-bottom: 4rem;
	}
}

#bio .row .pitch p {
	font-size: large;
	line-height: 1.35em;
}

#bio .row .pitch span,
#bio .row .pitch span a {
	font-weight: 300;
	border-bottom: #7F7F7F 1px dashed;
}
#bio .row .pitch span:hover,
#bio .row .pitch span:hover a {
	background-color: var(--klr_unicorn);
	color: var(--klr_bkgrnd);
	border-bottom: none;
}

@media (max-width: 1200px) {
	#bio .row .pitch {
		width: 100%;
		padding-left: 15%;
		padding-right: 15%;
	}	
}

/***********************************************/
/* SECTION 3 - IMAGE/LINKS GRID */
/***********************************************/
#grid {
	overflow: hidden;
}
#grid.gap > .container > .row {
	height: 33.33% !important;
}

/* CELLS */
.gridCell .meta,
.gridCell:hover .meta, 
.gridCell > .link i,
.gridCell > .link:hover i {
	transition : all 0.55s;
	-webkit-transition : all 0.55s;
	-o-transition : all 0.55s;
	-moz-transition : all 0.55s;
}

.gridCell > .link h4,
.gridCell > .link:hover h4 {
	transition : all 0.8s ease-in-out;
	-webkit-transition : all 0.8s ease-in-out;
	-o-transition : all 0.8s ease-in-out;
	-moz-transition : all 0.8s ease-in-out;
}
.gridCell > .link_min p.title,
#sk_question.gridCell p.title {
	font-weight: 300;
	text-align: center;
}
#sk_question.gridCell p.title {
	padding-top: 0;
}
#sk_question.gridCell > .link a:hover {
	cursor: default;
}

.gridCell {
	transition : all 1s ease-in-out;
	-webkit-transition : all 1s ease-in-out;
	-o-transition : all 1s ease-in-out;
	-moz-transition : all 1s ease-in-out;
	overflow: hidden;
	position: relative;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.gridCell:hover {
	overflow: visible;
}

.gridCell img {
	position: absolute;
}
.gridCell > .link,
.gridCell > .link > a,
.gridCell .meta {
	position: relative;
	display: block;
	overflow: hidden;
}

.gridCell > .link {
	border: solid 1px rgba(240,240,240,0.85);
}
.gridCell > .link:hover {
	background-color: rgba(240,240,240,0.85);
}
.gridCell > .link h4,
.gridCell > .link i {
	width: 100%;
	text-align: center;
	z-index: inherit;
	color: rgba(255,255,255,0.9);
}
.gridCell > .link:hover h4,
.gridCell > .link:hover i {
	color: var(--klr_unicorn);
	opacity: 1;
}
.gridCell > .link:hover h4 {
	opacity: .7;
}
.gridCell > .link i{
	padding-top: 1.5em;
}
.gridCell > .link:hover i{
	padding-top: 0.5em;
}

.gridCell > .link h4 {
	opacity: 0;
	padding-top: 1em;
}
.gridCell > .link:hover h4 {
	padding-top: 0.4em;	
}

.gridCell .meta {
	display: none;
	top: -0.5em;
	padding: 0.8em;
}
.gridCell:hover .meta {
	display: block;
} 
.gridCell p {
	text-align: right;
	color: var(--klr_shade1);
}
.gridCell p.title {
	padding-top: 0.3em;
	margin-bottom: 5px;
	font-size: 0.9em;
	font-weight: 600;
}

.gridCell p.title span {
	font-size: 0.8em;
	font-weight: 500;
}
.gridCell p.type {
	padding-top: 0;
	font-size: 0.95em;
	font-style: italic;
	display: none;
	line-height: 1.4em;
}
.gridCell p.type span {
	font-weight: 500;
}
.gridCell .link_min p.type {
	display: inherit;
}
.gridCell p.source {
	font-size: 0.85em;
}

@media (min-width: 1200px) {
	.gridCell p.title {
		font-size: 1em;
		padding-top: 0.9em;
	}
	.gridCell > .link i{
		opacity: 0.5;
		padding-top: 2.5em;
	}
	.gridCell > .link:hover i{
		padding-top: 1.1em;
	}
	.gridCell .link_min p.type {
		display: inherit;
	}
}


/* ============================================================ */
/* ============================================================ */
/* TOP MENU */
/* ============================================================ */
/* ============================================================ */

/***********************************************/
/* MAIN */
/***********************************************/
.menu-wrap {
	-webkit-transition: width 0.4s, height 0.4s, top 0.4s, -webkit-transform 0.4s;
	transition: width 0.4s, height 0.4s, top 0.4s, transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
#header{
	z-index: 2000;
	top:0px;
}

/* Position of Button / Menu */
.menu-button,
.menu-wrap {
	position: fixed;
	-webkit-transform: translate3d(1.5em,1.5em,0);
	transform: translate3d(1.5em,1.5em,0);
}
.menu {
	height: 100%;
	overflow: hidden;
	font-size: 0.75em;
	padding-top: 20px;	
}
.menu-wrap {
	z-index: 2010;
	top: 1em;
	width: 0;
	height: 0;
	background: var(--klr_bkgrnd);
}

/***********************************************/
/* HAMBURGER BUTTON */
/***********************************************/
.menu-button {
	z-index: 2020;
	width: 2.5em;
	height: 2.25em;
	font-size: 1.5em;
	background: none;
	top: -0.3em;
	padding: 7px 0 0 1px;
	margin: 0;
}
.menu-button,
.menu-button:focus {
	border: none;
	color: var(--klr_bkgrnd);
	outline-style: none;
}
.menu-button:focus {
	outline: none;
}
.show-menu .menu-button,
.show-menu .menu-button:focus {
	color: var(--klr_unicorn);
}
.menu-button:hover,
.menu-button:hover {
	color: var(--klr_unicorn);
	background: var(--klr_bkgrnd);	
	border-radius: 0;
}
.menu-button .fa-bars {
	display: inherit;
}
.menu-button .fa-bars:hover {
	display: inherit;
}

/***********************************************/
/* TOP RIGHT LOGO */
/***********************************************/
#logo {
	position: fixed;
	right: 0;
	padding: 45px 35px;
	font-size: 1em;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	text-align: right;
	/* desktop specific */
	font-size: 1.3em;
	padding: 38px;
}
#logo a {
	color: var(--klr_bkgrnd);
}
#logo a:hover {
	text-decoration: none;
	color: var(--klr_unicorn);
}

/***********************************************/
/* ICONS */
/***********************************************/
.icon-list li a span,
.icon-list li a:hover span,
.icon-list li.active a:hover span {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list {
	text-align: center;
	padding: 4px;
}
.icon-list li {
	list-style: none;
	display: inline;
}

/*.icon-list li a {
	opacity: 0 !important;
}*/
.icon-list li a {
	width: 8%;
	/* opacity: 1; */
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	font-size: 1.5em;
	/* color: rgba(40,40,40,0.5); */
	background: var(--klr_bkgrnd);
}
.icon-list li a span {
	display: block;
	/* opacity: 0.5; */
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: 700;
	padding-top: 0.2em;
}

.menu-button i.material-icons,
.icon-list li i.material-icons {
	font-size: 32px;
}

.icon-list li a > i.material-icons,
.icon-list li a span {
	/* opacity: 1; */
	color: var(--klr_shade3);
}
.icon-list li.active a > i.material-icons,
.icon-list li.active a span {
	/* opacity: 1; */
	color: var(--klr_unicorn);
}
.icon-list li a:hover > i.material-icons,
.icon-list li a:hover span {
	/* opacity: 0.7; */
	color: var(--klr_shade2);
}	

/***********************************************/
/* ANIMATIONS */
/***********************************************/
.menu-wrap {
	-webkit-transform: translate3d(3em,3em,0);
	transform: translate3d(3em,3em,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.show-menu .menu-wrap {
	-webkit-transform: translate3d(100,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.show-menu .menu-wrap {
		width: 100%;
		height: 110px;
		top: 0;
	}

/***********************************************/
/* ANIMATION TIMINGS */
/***********************************************/
.show-menu .icon-list:hover a > i.material-icons,
.show-menu .icon-list a:hover > i.material-icons,
.show-menu .icon-list a:focus > i.material-icons,
.show-menu .icon-list:hover a span,
.show-menu .icon-list a:hover span,
.show-menu .icon-list a:focus span {
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
/* .show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay: 0.42s;
	transition-delay: 0.42s;
}

.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
} */


/* ============================================================ */
/* ============================================================ */
/* DESKTOP SPECIFIC */
/* ============================================================ */
/* ============================================================ */
.menu-wrap ul li:nth-child(3),
#links_mobile,
#span_mobile {
	display: none;
}

#bio .row .pitch span#span_desktop {
	cursor: pointer;
	color: var(--klr_unicorn);
	border-bottom: none;
	font-weight: 500;
}
#bio .row .pitch span#span_desktop:hover {
	color: var(--klr_bkgrnd);
}


/* TEST */
/*@-webkit-@keyframes anim {
	0%   {opacity: 0;}
	50%  {opacity: 0.6;}
	100% {opacity: 1;}
}

#img-ux {
  -webkit-animation: anim 1s alternate infinite;
  -moz-animation: anim 1s alternate infinite;
  -ms-animation: anim 1s alternate infinite;
  animation: anim 1s alternate infinite;
}*/
